.titulo {
	padding-top:10px;
}

.painel {
  padding-top: 10px;  
  padding-bottom: 5px;
  padding-left: 15px;  
}

.linha {
  text-align: center;  
}

.icone {
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: small;
  font-weight:bold;
}

.rotulo {
  padding-top: 10px;
  font-weight:lighter;
}

.botao {
	border-radius: 8px;
	width: 70px;
}

.ledLigado {
	color: yellow;
}

.ledPiscando {
  animation-name: animacaoPiscaLed;
  animation-duration: 0.4s;
  animation-iteration-count: infinite; 
}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes animacaoPiscaLed {
   0% {color: black;}
  50% {color: yellow;}
  100% {color: black;}
}

/* Standard syntax */
@keyframes animacaoPiscaLed {
  0% {color: black;}
  50% {color: yellow;}
  100% {color: black;}
}


